---
- name: "iproute | Deploy iproute tables"
  ansible.builtin.template:
    src: "rt_tables.j2"
    dest: "/etc/iproute2/rt_tables"
    owner: "root"
    group: "root"
    mode: "0644"
  when:
    - "lookup('ansible.builtin.vars', 'iproute_tables',
      default='') not in ['', [], '[]', None]"
