---
- name: "iproute | Deploy iproute tables"
  ansible.builtin.template:
    src: "rt_tables.j2"
    dest: "/etc/iproute2/rt_tables"
    owner: "root"
    group: "root"
    mode: "0644"
  when:
    - "vars['iproute_tables'] is defined"
    - "vars['iproute_tables'] != []"
    - "vars['iproute_tables'] != ''"
    - "vars['iproute_tables'] != None"
