---
- name: "iproute | Include pre requisite tasks"
  ansible.builtin.import_tasks:
    file: "pre_requisite.yml"
- name: "iproute | Include iprotue deployment tasks"
  ansible.builtin.import_tasks:
    file: "deploy.yml"
