---
- name: "iproute | Set facts about iproute tables"
  ansible.builtin.set_fact:
    iproute_tables: "{{ hostvars[inventory_hostname]['iproute'] |
      community.general.json_query('[].tables[]') }}"
  when:
    - "hostvars[inventory_hostname]['iproute'] is defined"
    - "hostvars[inventory_hostname]['iproute'] not in ['', [], '[]', None]"
- name: "iproute | Create catalogs"
  ansible.builtin.file:
    path: "/etc/iproute2"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0755"
  when:
    - "lookup('ansible.builtin.vars', 'iproute_tables',
      default='') not in ['', [], '[]', None]"
